<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Tech Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="../style.css" />
</head>

<body>
    <header>
        <a href="/">
            <h1>Tech Blog</h1>
        </a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {{#if loggedIn}}
                <li><a href="/api/dashboard">Dashboard</a></li>
                <li><a href="" id="logout-btn">Log out</a></li>
                {{else}}
                <li><a href="/login">Log in</a></li>
                <li><a href="/signup">Sign up</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>
    {{{body}}}
    <script src="/logout.js"></script>
</body>

</html>