<div class="posts-container">
    <div class="card-header">
        <h2>Your Posts</h2>
        <button type="button" name="new-post"><a href="/newpost">New Post</a></button>
        <button type="button" name="new-post"><a href="/">Back</a></button>
    </div>
    <div class="posts-wrapper">
        {{#each posts as |post|}}
        <div class="individual-post">
            <a href="/post/{{id}}">
                <h3>
                    {{post.post_title}}
                </h3>
            </a>
            <p>
                {{post.post_text}}
            </p>
        </div>
        {{/each}}
    </div>
</div>