<section>
    <h2>Log in</h2>
    <form autocomplete="off">
        <label for="username">Username</label>
        <input name="username" type="text" placeholder="username">
        <label for="password">Password</label>
        <input name="password" type="password" placeholder="password">
        <button type="submit" name="submit-btn">Log in</button>
    </form>
</section>