<div class="posts-container">
    <div class="card-header">
        <h2>Create a new post</h2>
        <button><a href="/">Back</a></button>
    </div>
    <section class="individual-post">
        <form autocomplete="off" id="createpost-form">
            <label for="title">
                <h3>Title</h3>
            </label>
            <input name="title" id="post-title" type="text" placeholder="Post title">
            <label for="text">
                <h3>Text</h3>
            </label>
            <input name="text" id="post-text" type="text" placeholder="Post content">
            <input type="submit" id="post-btn" name="submit-btn">
        </form>
    </section>
</div>

<script src="/post.js"></script>