<div class="posts-container">
    <div class="card-header">
        <h2>Post</h2>
        <button type="button" name="new-post">Back</button>
    </div>
    <div class="post-wrapper">
        <div class="individual-post">
            <h3>
                <a href="/post/{{post.id}}">{{post.post_title}}</a>
            </h3>
            {{!-- <h4>insert user name here</h4> --}}
            <p>
                {{post.post_text}}
            </p>
        </div>
    </div>
</div>