<section class="login-container">
    <h2>Sign up</h2>
    <form autocomplete="off" id="signup-form">
        <label for="username">Username</label>
        <input name="username" id="username-signup" type="text" placeholder="username">
        <label for="email">Email</label>
        <input name="email" id="email-signup" type="email" placeholder="email">
        <label for="password">Password</label>
        <input name="password" id="password-signup" type="password" placeholder="password">
        <input type="submit" name="submit-btn" id="signup-submit">
    </form>
    <div id="errors"></div>
</section>

<script src="/signup.js"></script>