<section class="login-container">
    <h2>Sign up</h2>
    <form autocomplete="off" action="/api/users/signup" method="POST" id="signup-form">
        <label for="username">Username</label>
        <input name="username" type="text" placeholder="username">
        <label for="email">Email</label>
        <input name="email" type="email" placeholder="email">
        <label for="password">Password</label>
        <input name="password" type="password" placeholder="password">
        <button type="submit" name="submit-btn">Sign up</button>
    </form>
</section>